:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin:0;
  padding:0;

}

a{
  text-decoration: none;
  color: #eee;
}
a:hover{
  color:rgb(235, 165, 74);
}

#root{
  padding: 15px 10rem;
  background-color: black;
}
@media screen and (max-width: 1020px){
  #root{
    padding: 15px 7rem;
  }
}

@media screen and (max-width: 900px){
  #root{
    padding: 15px 3rem;
  }
}


@media screen and (max-width: 720px){
  #root{
    padding: 15px 2rem;
  }
}

