.footer{
    padding: 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1020px){
    .footer{
      padding: 15px 7rem;
    }
  }
  
  @media screen and (max-width: 900px){
    .footer{
      padding: 15px 3rem;
    }
  }
  
  
  @media screen and (max-width: 720px){
    .footer{
      padding: 15px 1rem;
    }
  }